body {
font-family: Arial, sans-serif;
background-color: #d4c2c2;
margin: 0;
padding: 20px;
}

h1, h2 {
text-align: center;
}

form {
background-color: #ffffff;
padding: 10px;
margin: 10px auto;
max-width: 500px;
border-radius: 10px;
border: 1px solid #c9c9c9;
}

input[type="text"],
input[type="number"],
select {
padding: 5px;
width: 100%;
box-sizing: border-box;
}

button {
padding: 12px;
cursor: pointer;
border: 1px solid #272727;
background-color: #b1b1b1;
}

button:hover {
background-color: #a5a5a5;
}

table {
border-collapse: collapse;
margin: 0 auto 20px auto;
width: 80%;
background-color: #ffffff;
}

th, td {
border: 1px solid #9c9c9c;
padding: 10px;
text-align: left;
}

th {
background-color: #cfcfcf;
}
